
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-4 col-6 totalvisits" style="cursor:pointer;">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.TotalVisitorCount</h3>

                        <p>Total Visitors</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6 visited" style="cursor:pointer">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.TotalVisitedCount</h3>
                        <p>Total Visited</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6 upcoming" style="cursor:pointer;">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.TotalupcomingVisitorCount</h3>
                        <p>Total Upcoming Visits</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 rejected" style="cursor:pointer;">
                <!-- small box -->
                <div class="small-box bg-gradient-danger">
                    <div class="inner">
                        <h3>@Model.TotalRejectedVisitorCount</h3>
                        <p>Total Rejected Visits</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-indigo">
                    <div class="inner">
                        <h3>@Model.TotalDefaultVisitorCount</h3>
                        <p>Total Defaulters</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 totaldelivery" style="cursor:pointer">
                <!-- small box -->
                <div class="small-box bg-fuchsia">
                    <div class="inner">
                        <h3>@Model.TotalDeliveries</h3>
                        <p>Total Deliveries</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-6" style="cursor:pointer">
                <!-- small box -->
                <div class="small-box" style="background-color:white;">
                    <div class="inner">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.DropDownList("DeviceId", ViewBag.DeviceList as SelectList, "Select Device", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button class="btn btn-info open" type="button">Door Open</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button class="btn btn-info cls" type="button">Door Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section scripts
{
    <!-- jQuery -->
    <!--<script src="../plugins/jquery/jquery.min.js"></script>-->
    <!-- Bootstrap 4 -->
    <!--<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <!-- AdminLTE App -->
    <!--<script src="../dist/js/adminlte.min.js"></script>-->
    <!-- AdminLTE for demo purposes -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../dist/js/demo.js"></script>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>
        var URL = $("#WebUIUrl").val() + '/Visitor/GetVisitorList?userId=@ViewBag.UserId&userName=@ViewBag.UserName';
        var deliveryURL = $("#WebUIUrl").val() + '/Courier/GetCourierList?userId=@ViewBag.UserId&userName=@ViewBag.UserName';

        $(function () {

            $(".totalvisits").click(function () {
                debugger;
                var newURL = URL;
                return window.location.href = newURL;
            });

            $(".visited").click(function () {
                var visitedURL = $("#WebUIUrl").val() + '/Report/GetVisitedVisitorList?userId=@ViewBag.UserId&userName=@ViewBag.UserName';
                return window.location.href = visitedURL;
            });

            $(".rejected").click(function () {
                var visitedURL = $("#WebUIUrl").val() + '/Report/GetRejectedVisitorList?userId=@ViewBag.UserId&userName=@ViewBag.UserName';
                return window.location.href = visitedURL;
            });

            $(".upcoming").click(function () {
                var visitedURL = $("#WebUIUrl").val() + '/Report/GetUpcomingVisitorList?userId=@ViewBag.UserId&userName=@ViewBag.UserName';
                return window.location.href = visitedURL;
            });

            $(".totaldelivery").click(function () {
                debugger;
                return window.location.href = deliveryURL;
            });

             $(".open").click(function () {

                debugger;
                var DeviceId = $('#DeviceId').val();

                if (DeviceId == "") {
                    alert("Please select device");
                    return false;
                }

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("OpenCloseDevice", "Setting")',
                    data: { DeviceId: DeviceId, type: "open" },
                    success: function (data) {
                        debugger;
                        if (data == true) {
                            alert("Door Open Successfully");
                        }
                    },
                    error: function (result) {
                        alert("Error");
                    }
                });
            });

            $(".cls").click(function () {

                debugger;

                var DeviceId = $('#DeviceId').val();

                if (DeviceId == "") {
                    alert("Please select device");
                    return false;
                }

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("OpenCloseDevice", "Setting")',
                    data: { DeviceId: DeviceId, type: "close" },
                    success: function (data) {
                        debugger;
                        if (data == true) {
                            alert("Door Closed Successfully");
                        }
                    },
                    error: function (result) {
                        alert("Error");
                    }
                });
            });
        });

    </script>

}


