
@{
    ViewBag.Title = "GetEmployeeVisitorList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<VMS.Models.Visitor.VisitorEntryModel> visitors = ViewData["GetVisitorList"] as List<VMS.Models.Visitor.VisitorEntryModel>;
}

<style>

    #section-to-print, #section-to-print * {
        visibility: visible;
    }

    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }

    .tblClass {
        padding: 25px;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- DataTables -->
@*<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">*@
<link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Visitor List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Visitor List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary card-header-icon">
                                <div class="toolbar">
                                    <div id="divFilter">
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-12  col-lg-2 col-md-2">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-info" id="btnFilter">Advance Filter</button>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-xs-12  col-lg-2 col-md-2">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-info" id="btnRefresh">Refresh</button>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12  col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    @*<div>
                                                        @using (Html.BeginForm("ExportToPdf", "Employee", FormMethod.Post))
                                                        {
                                                            <input type="hidden" name="GridHtml" />
                                                            <button class="btn btn-info" id="btnpdf" type="submit" style="float:right;">Export to PDF</button>
                                                        }
                                                    </div>
                                                    <div>
                                                        @using (Html.BeginForm("ExportToExcel", "Employee", FormMethod.Post))
                                                        {
                                                            <button class="btn btn-info" type="submit" style="float:right;margin-right: 5px;">Export to Excel</button>
                                                        }
                                                    </div>*@
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-xs-12  col-lg-2 col-md-2">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary anchorDetail float-right">Add Visitor</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="collapseExample" style="border: 1px solid lightgray;margin: 10px 0px 0px 0px;">
                                        <div class="col-sm-2 col-xs-12  col-lg-2 col-md-2">
                                            <div class="form-group">
                                                <label>Visitor Contact</label>
                                                <input type="text" class="form-control" id="contact" placeholder="Visitor Contact" maxlength="10">
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-12  col-lg-2 col-md-2">
                                            <div class="form-group">
                                                <label>Visitor Company</label>
                                                <input type="text" class="form-control" id="Company" placeholder="Visitor Company" maxlength="50">
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-12 col-lg-2 col-md-2">
                                            <div class="form-group">
                                                <label>From Date</label>
                                                <div class="input-group date" id="datefrom" data-target-input="nearest">
                                                    <input type="text" id="fromdate" class="form-control datetimepicker-input" data-target="#datefrom" />
                                                    <div class="input-group-append" data-target="#datefrom" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-12 col-lg-2 col-md-2">
                                            <div class="form-group">
                                                <label>To Date</label>
                                                <div class="input-group date" id="dateto" data-target-input="nearest">
                                                    <input type="text" id="todate" class="form-control datetimepicker-input" data-target="#dateto" />
                                                    <div class="input-group-append" data-target="#dateto" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-12 col-lg-2 col-md-2">
                                            <div class="form-group">
                                                <label>In Time</label>
                                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                                    <input type="text" id="time" class="form-control datetimepicker-input" data-target="#timepicker" />
                                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-12 col-lg-1 col-md-1" style="margin-top:30px">
                                            @*<button type="button" class="btn btn-primary filter" id="btnSearch">Search</button>*@
                                            <button class="btn btn-info search" id="filter" type="button">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12" style="overflow:auto">
                                        <div class="form-group">
                                            <table id="tblCustomers" class="display" style="width:100%; border: 1px solid #aaaaaa;">
                                                <thead>
                                                    <tr style="vertical-align:bottom;">
                                                        <th>Visitor Id</th>
                                                        <th>Visitor Name</th>
                                                        <th>Visitor Company</th>
                                                        <th>Visitor Contact</th>
                                                        <th>In Time</th>
                                                        <th>Out Time</th>
                                                        <th>From Date</th>
                                                        <th>To Date</th>
                                                        <th>Purpose</th>
                                                        <th>Priority</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                           
                            <!-- end content-->
                        </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Page specific script -->

<input value="@ViewBag.UserId" type="text" name="UserId" id="UserId" hidden="hidden" />
<input value="@ViewBag.UserName" type="text" name="UserName" id="UserName" hidden="hidden" />

@section scripts
{
    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Toastr -->
    <script src="../plugins/toastr/toastr.min.js"></script>

    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>
        $("#filter").click(function () {
            debugger;
            var userID = $('#UserId').val()
            var contact = $("#contact").val();
            var company = $("#Company").val();
            var fdate = $("#fromdate").val();
            var tdate = $("#todate").val();
            var time = $("#time").val();

                var table = $("#tblCustomers").DataTable();
                table.destroy();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FilterGetVisitorList", "Employee")',
                    data: '{userID:"' + userID + '", contactname:"' + contact + '", company: "' + company + '", fromdate: "' + fdate + '", todate:"' + tdate + '", inTime: "' + time + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        alert(response.d);
                    },
                    error: function (response) {
                        alert(response.d);
                    }
                });
        });

        //Start Advance Filter
        $(document).ready(function () {
            $("#collapseExample").toggle();
            dataLoad();
        });

        $("#btnFilter").click(function () {
            $("#collapseExample").toggle();
        });

        $("#btnRefresh").click(function () {
            dataLoad();
        });
        //End Advance Filter
        $(".anchorDetail").click(function () {
            return window.location.href = AddURL;
        });
        function dataLoad() {
            var userID = $('#UserId').val()
            var table = $("#tblCustomers").DataTable();
            table.destroy();
            $(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("A_GetEmployeeVisitorList", "Employee")',
                    data: '{userID:"' + userID + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        alert(response.d);
                    },
                    error: function (response) {
                        alert(response.d);
                    }
                });
            });
        }
        function OnSuccess(response) {
            $("#tblCustomers").DataTable(
                {
                    bLengthChange: true,
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    data: response,

                    columns: [{ 'data': 'VisitorId' },
                        { 'data': 'Name' },
                        { 'data': 'Company' },
                        { 'data': 'Contact' },
                        { 'data': 'InTime' },
                        { 'data': 'OutTime' },
                        {
                            'data': 'VisitDateFrom', 'render': function (jsonDate) {
                                var date = new Date(parseInt(jsonDate.substr(6)));
                                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                                return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                            }
                        },
                        {
                            'data': 'VisitDateTo', 'render': function (jsonDate) {
                                var date = new Date(parseInt(jsonDate.substr(6)));
                                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                                return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                            }
                        },
                        { 'data': 'Purpose' },
                        { 'data': 'Priority' }
                        ],
                    columnDefs: [{
                        "targets": 10,
                        "data": null,
                        "defaultContent":   "<button class='btn btn-primary far fa-thumbs-up approve padding0' style='text-decoration-style:none;margin-right:1px;' onclick='ApproveData(this)'></button>" +
                                            "<button class='btn btn-secondary fas fa-eye status padding0' style='text-decoration-style:none;margin-right:1px;' onclick='ViewData(this)'></button>" +
                                            "<button class='btn btn-danger fas fa-thumbs-down reject padding0' style='text-decoration-style:none;margin-right:1px;' onclick='RejectData(this)'></button>"
                    }]
                });
        };


        $("#tblCustomers").dataTable({ searching: false, paging: false, info: false });


        function ApproveData(ele) {
            var dataRow = $('#tblCustomers').DataTable().row($(ele).closest('tr')).data();
            var Data = JSON.stringify({
                "VisitId": dataRow.Id,
                "UserId": $('#UserId').val(),
                "Status": "Approve",
            });

            $.ajax({
                type: "POST",
                url: $("#WebUIUrl").val() + '/Employee/SaveVisitStatus',
                contentType: "application/json; charset=utf-8",
                data: Data,
                datatype: "json",
                async: true,
                cache: false,
                success: function (data) {
                    debugger;

                    if (data == true) {

                        toastr.options = {
                            "newestOnTop": false,
                            "showDuration": "300",
                        }

                        toastr.success('Approved Successfully.')

                        //location.reload();

                    }
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        }
        function ViewData(ele) {
            var dataRow = $('#tblCustomers').DataTable().row($(ele).closest('tr')).data();
            //var newURL = EditURL + "&Id=" + dataRow.Id;
            //return window.location.href = newURL;

            var StatusURL = $("#WebUIUrl").val() + '/Employee/VisitorStatus?userId=@ViewBag.UserId&userName=@ViewBag.UserName';
            var newURL = StatusURL + "&VisitorId=" + dataRow.VisitorId;

            return window.location.href = newURL;
        }
        function RejectData(ele) {
            var dataRow = $('#tblCustomers').DataTable().row($(ele).closest('tr')).data();
            var Data = JSON.stringify({
                "VisitId": dataRow.Id,
                "UserId": $('#UserId').val(),
                "Status": "Reject",
            });

            $.ajax({
                type: "POST",
                url: $("#WebUIUrl").val() + '/Employee/SaveVisitStatus',
                data: Data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                cache: false,
                success: function (data) {
                    debugger;

                    if (data == true) {

                        toastr.options = {
                            "newestOnTop": false,
                            "showDuration": "300",
                        }

                        toastr.success('Rejected Successfully.')

                        //location.reload();

                    }
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        }






        var AddURL = $("#WebUIUrl").val() + '/Visitor/AddVisitor?userId=@ViewBag.UserId&userName=@ViewBag.UserName';
        var StatusURL = $("#WebUIUrl").val() + '/Employee/VisitorStatus?userId=@ViewBag.UserId&userName=@ViewBag.UserName';

        $(function () {

            $('#datefrom').datetimepicker({
                format: 'L'
            });

            $('#dateto').datetimepicker({
                format: 'L'
            });

            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            $(".anchorDetail").click(function () {
                return window.location.href = AddURL;
            });

            $(".approve").click(function () {

                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                if (id == undefined)
                    id = 0;

                var Data = JSON.stringify({
                    "VisitId": id,
                    "UserId": $('#UserId').val(),
                    "Status": "Approve",
                });

                $.ajax({
                    type: "POST",
                    url: $("#WebUIUrl").val() + '/Employee/SaveVisitStatus',
                    contentType: "application/json; charset=utf-8",
                    data: Data,
                    datatype: "json",
                    async: true,
                    cache: false,
                    success: function (data) {
                        debugger;

                        if (data == true) {

                            toastr.options = {
                                "newestOnTop": false,
                                "showDuration": "300",
                            }

                            toastr.success('Approved Successfully.')

                           location.reload();

                        }
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });

            });

            $(".reject").click(function () {

                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                if (id == undefined)
                    id = 0;

                var Data = JSON.stringify({
                    "VisitId": id,
                    "UserId": $('#UserId').val(),
                    "Status": "Reject",
                });

                $.ajax({
                    type: "POST",
                    url: $("#WebUIUrl").val() + '/Employee/SaveVisitStatus',
                    data: Data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    cache: false,
                    success: function (data) {
                        debugger;

                        if (data == true) {

                            toastr.options = {
                                "newestOnTop": false,
                                "showDuration": "300",
                            }

                            toastr.success('Rejected Successfully.')

                            location.reload();

                        }
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
            });

            $(".status").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                if (id == undefined)
                    id = 0;
                var options = { "backdrop": "static", keyboard: true };

                var newURL = StatusURL + "&VisitorId=" + id;

                return window.location.href = newURL;
            })

                         // data filteration
            $(".search").click(function () {

                debugger;
                var contact = $('#contact').val();
                var company = $('#Company').val();
                var department = $('#Department').val();
                var datefrom = $('#fromdate').val();
                var dateto = $('#todate').val();
                var time = $('#time').val();

                var Data = {
                    Contact: contact,
                    Company: company,
                    Department: department,
                    FromDate: datefrom,
                    ToDate: dateto,
                    Time: time,
                    UserId : @ViewBag.UserId
                };

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("GetVisitorListSearch", "Employee")',
                    data: Data,
                    success: function (data) {
                        debugger;
                        $("#datatables").find("tr:not(:first)").remove();

                        for (var i = 0; i < data.length; i++) {

                            // from date
                            var fdateString = data[i].VisitDateFrom.substr(6);
                            var currentTime = new Date(parseInt(fdateString));
                            var month = currentTime.getMonth() + 1;
                            var day = currentTime.getDate();
                            var year = currentTime.getFullYear();
                            if (month.toString().length == 1)
                                month = "0" + month.toString();
                            if (day.toString().length == 1) {
                                day = "0" + currentTime.getDate();
                            }
                            var date = day + "/" + month + "/" + year;

                            //todate
                            var tdateString = data[i].VisitDateTo.substr(6);
                            var tcurrentTime = new Date(parseInt(tdateString));
                            var tmonth = tcurrentTime.getMonth() + 1;
                            var tday = tcurrentTime.getDate();
                            var tyear = tcurrentTime.getFullYear();
                            if (tmonth.toString().length == 1)
                                tmonth = "0" + tmonth.toString();
                            if (tday.toString().length == 1) {
                                tday = "0" + tcurrentTime.getDate();
                            }
                            var tdate = tday + "/" + tmonth + "/" + tyear;

                            if (data[i].Status != null) {
                                $("#datatables").append("<tr><td>" + data[i].VisitorId + "</td><td>" + data[i].Name + "</td><td>" + data[i].Company + "</td> <td>" + data[i].Contact + "</td><td>" + data[i].InTime + "</td><td>" + data[i].OutTime + "</td><td>" + date + "</td><td>" + tdate + "</td><td>" + data[i].Purpose + "</td><td>" + data[i].Priority + "</td><td><a href='javascript:void(0);' class='btn btn-secondary status' title='View' data-id=" + data[i].VisitorId + "><i class='fas fa-eye'></i></a></td></tr>");
                            }
                            else {
                                 $("#datatables").append("<tr><td>" + data[i].VisitorId + "</td><td>" + data[i].Name + "</td><td>" + data[i].Company + "</td> <td>" + data[i].Contact + "</td><td>" + data[i].InTime + "</td><td>" + data[i].OutTime + "</td><td>" + date + "</td><td>" + tdate + "</td><td>" + data[i].Purpose + "</td><td>" + data[i].Priority + "</td><td><a href='javascript:void(0);' class='btn btn-primary approve' title='Approve' data-id=" + data[i].VisitorId + "><i class='far fa-thumbs-up'></i></a><a href='javascript:void(0);' class='btn btn-secondary status' title='View' data-id=" + data[i].VisitorId + "><i class='fas fa-eye'></i></a><a href='javascript:void(0);' class='btn btn-danger reject' title='Reject' data-id=" + data[i].VisitorId + "><i class='fas fa-thumbs-down'></i></a></td></tr>");
                            }
                        }
                        //$("#datatables").DataTable();
                    },
                    error: function (result) {
                        alert("Error");
                    }
                });


            });

        });

    </script>

}
